    * {
        padding: 0;
        margin: 0;
        box-sizing: 0;
    }
    
    header {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
    }
    
    body {
        width: 100%;
        height: 100%;
        background-color: #030A1A;
    }
    
    .nav-wrapper {
        width: 40%;
    }
    
    nav {
        color: white;
        width: 100%;
        height: 100%;
    }
    
    nav ul {
        width: 90%;
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    
    nav ul li {
        cursor: pointer;
        list-style-type: none;
    }
    
    nav ul li a {
        color: #FAF4F4;
        text-decoration: none;
    }
    
    nav ul li button {
        color: #FAF4F4;
        background: #133359;
        width: 80px;
        padding: 5px;
        border: 3px solid #145AC3;
        border-radius: 20px 20px;
    }
    
    nav ul li button:hover {
        cursor: pointer;
    }
    
    .log-wrapper {
        width: 50%;
        color: #FAF4F4;
        padding-left: 80px;
    }
    
    main {
        width: 100%;
        height: 540px;
        display: flex;
        justify-content: space-between;
    }
    
    .blog-post {
        weight: 80%;
        height: 520px;
        margin-left: 4em;
        margin-right: 5em;
        display: flex;
        justify-content: space-between;
        background: #133359;
        border: 3px solid #145AC3;
        border-radius: 30px 30px;
    }
    
    .blog-intro-body {
        margin-top: 2em;
        width: 56.5%;
        height: 480px;
        margin-left: 10px;
    }
    
    #d {
        margin-top: 0.5em;
        margin-left: 6em;
        width: 40%;
        height: 130px;
    }
    
    #d img {
        margin-left: 1em;
        width: 75%;
        height: 135px;
    }
    
    #z {
        margin-top: 0.8em;
        margin-left: 1em;
        width: 60%;
        height: 40px;
        font-size: 16px;
        color: #FAF4F4;
    }
    
    #s {
        margin-top: 1.5em;
        margin-left: 1.5em;
        width: 90%;
        height: 150px;
    }
    
    #s img {
        width: 80%;
        height: 150px;
    }
    
    #y {
        margin-top: 1.5em;
        margin-left: 1em;
        width: 70%;
        height: 60px;
        font-size: 16px;
        color: #FAF4F4;
    }
    
    .blog-conclusion {
        width: 44.5%;
        height: 480px;
        margin-right: 3em;
    }
    
    #i {
        margin-top: 3em;
        width: 95%;
        height: 300px;
    }
    
    #i img {
        width: 98%;
        height: 390px;
    }
    
    #l {
        margin-left: 1.5em;
        margin-top: 3.2em;
        width: 100%;
        font-size: 28.5px;
        color: #FAF4F4;
    }
    
    footer {
        width: 94%;
        height: 25px;
        color: #FAF4F4;
        position: absolute;
        padding-top: 20px;
        padding-left: 80px;
        background: rgb(4, 13, 33);
        background: linear-gradient(180deg, rgba(4, 13, 33, 1) 83%, rgba(62, 104, 253, 1) 100%);
    }