* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

body {
    width: 100%;
    height: 100%;
    background-color: #030A1A;
}

.nav-wrapper {
    width: 10%;
}

nav {
    color: white;
    width: 100%;
}

nav ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    cursor: pointer;
    list-style-type: none;
    display: inline;
}

nav ul li a {
    color: #FAF4F4;
    text-decoration: none;
}

nav ul li button {
    width: 90px;
    color: #FAF4F4;
    background: #133359;
    border: 1px solid #145AC3;
    border-radius: 10px 10px;
}

nav ul li button:hover {
    cursor: pointer;
}

.log-wrapper {
    width: 50%;
    color: #FAF4F4;
    padding-left: 80px;
}

main {
    width: 90%;
    padding: 20px;
    padding-left: 75px;
}

.main-container-wapper {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.side-bar {
    width: 23%;
    height: 180px;
    margin-top: 1em;
}

.item-size {
    font-size: 24px;
}

.user-accout-settings {
    width: 80%;
}

.primary-item {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: #FAF4F4;
    background: #133359;
    border: 3px solid #145AC3;
    border-radius: 10px 10px;
}

.secondary-item {
    text-align: center;
    color: #FAF4F4;
    background: #133359;
    border: 3px solid #145AC3;
    border-radius: 10px 10px;
}

.secondary-item ul li {
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logout-wrapper {
    text-align: center;
}

.logout-wrapper button {
    width: 100%;
    color: #FAF4F4;
    padding-top: 5px;
    background: #133359;
    border: 3px solid #145AC3;
    border-radius: 10px 10px;
}

.user-accout-settings {
    width: 70%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.User-profile {
    width: 20%;
    text-align: center;
}

.User-profile img {
    width: 60%;
    height: 95px;
}

.User-profile button {
    width: 95%;
    color: #FAF4F4;
    background: #133359;
    border: 3px solid #145AC3;
    border-radius: 10px 10px;
}

.user-settings {
    width: 60%;
    display: grid;
    padding-left: 30px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.setting-wrapper {
    width: 70%;
    height: 90px;
    padding: 15px;
    margin-top: 20px;
    color: #FAF4F4;
    background: #0E4272;
    border: 3px solid #3E68FD;
    border-radius: 10px 10px;
}

.button-item {
    margin-top: 3em;
    width: 50%;
    color: #FAF4F4;
    background: #0E4272;
    border: 3px solid #3E68FD;
    border-radius: 10px 10px;
}

footer {
    width: 94%;
    height: 25px;
    color: #FAF4F4;
    margin-top: 2em;
    padding-top: 20px;
    padding-left: 80px;
    background: rgb(4, 13, 33);
    background: linear-gradient(180deg, rgba(4, 13, 33, 1) 83%, rgba(62, 104, 253, 1) 100%);
}